body,
html {
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    overflow: hidden;
}

button {
    cursor: pointer;
}

.wrapper {
    position: relative;
    max-width: 980px;
    height: 100vh;
    margin: 0 auto;
}

.playing-field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.user,
.computer {
    text-align: center;
}

.user__title,
.computer__title{
    font-size: 2rem;
}

.computer__cities,
.user__cities {
    height: 300px;
    width: 200px;
    overflow: auto;
}

.start-game {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.who-first {
    text-align: center;
}

.start-game__title,
.user-score,
.computer-score {
    font-size: 2rem;
    margin: 2rem 0;
}

.button {
    font-size: 1.5rem;
    padding: 1rem 2.5rem;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-city-name {
    width: 265px;
    height: 40px;
    margin: 2rem 0;
    font-size: 1.5rem;
    padding-left: 10px;
}

.myMap {
    width: 100%;
    height: 400px;
    position: absolute;
    bottom: 0;
}

.move {
    border: 5px solid #c3c3c3;
    border-radius: 5px;
}
.btn-disabled {
    pointer-events: none;
    opacity: .5;
}
.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0,0,0,0.8);
    display: none;
}
.show-cities {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 50%;
    left: 50%;
    background-color: #c3c3c3;
    margin-top: -300px;
    margin-left: -300px;
    z-index: 999999;
    border-radius: 10px;
}
.show-cities__close {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.cities {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.loser {
    margin-top: 50px;
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
}

.cities__title {
    font-size: 18px;
}
.modal__user-cities,
.modal__computer-cities {
    text-align: center;
    height: 350px;
    overflow: auto;
}